body {
	background-image: Url('background.jpg');
	display: flex;
	flex-direction: column;
	height: 100vh;
}

form {
	flex-grow: 1;
}

textarea { 
	resize:none;
	background: transparent;
	border: 0px;
}

.rotate1 {
	transform: rotate(-3deg);
}

.rotate2 {
	transform: rotate(-2deg);
}

.rotate3 {
	transform: rotate(-1deg);
}

.rotate4 {
	transform: rotate(1deg);
}

.rotate5 {
	transform: rotate(2deg);
}

.rotate6 {
	transform: rotate(3deg);
}

.footer {
	background-color: #FFFFFF; 
	height: 100px; 
	width: 100%;
}

.wall {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.sticker {
	height: 200px;
	width: 200px;
	min-width: 200px;
	min-width: 200px;
	background-color: #ffe699;
	margin: 20px;
}

.default {
    display: flex;
    justify-content: center;
    align-items: center;
}

#createNew {
	height: 50px;
	width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-content {
	height:18px;
}

.sticker-content {
	width: 185px;
	margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    bottom: 0px;
}

.remove {
	background-color: #EEDDFF;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 16px;
    height: 16px;
    position: absolute;
    left: -8px;
    top: -8px;
}