body {
	background-image: Url('background.jpg');
	display: flex;
	flex-direction: column;
	height: 100vh;
}

form {
	flex-grow: 1;
}

textarea { 
	resize:none;
}

.footer {
	background-color: #EE2211; 
	height: 100px; 
	width: 100%;
}

.wall {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.sticker {
	height: 200px;
	width: 200px;
	min-width: 200px;
	min-width: 200px;
	background-color: #ffe699;
	margin: 20px;
}

.default {
    display: flex;
    justify-content: center;
    align-items: center;
}

#createNew {
	height: 50px;
	width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticker-content {
	width: 180px;
	height: 120px;
	margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove {
	margin: 5px;
}